.checkedStarFilled {
    color: orange;
}

.starSize {
    font-size: 30px;
}

.cursorPointer {
    cursor: pointer;
}

.customizeCourseTitle {
    display: inline;
    margin-right: 20px !important;
}
